.search-container {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    height: 1.5em;

}

.search-input {
    margin-bottom: 10px;
    color: #fff;
}

.search-input.dark {
    color: #fff;
    border: 1px solid #fff;
}


